Aug 22, 2018 11:01:54 AM org.firebirdsql.logging.JulLogger warn
WARNING: Wire encryption established, but some plugins failed; see other loglines for details
Aug 22, 2018 11:01:54 AM org.firebirdsql.logging.JulLogger warn
WARNING: Encryption plugin failed
org.firebirdsql.gds.ng.wire.crypt.FBSQLEncryptException: Encryption key did not meet algorithm requirements of Symmetric/Arc4 [SQLState:28000, ISC error code:337248282]
               at org.firebirdsql.gds.ng.FbExceptionBuilder$Type$4.createSQLException(FbExceptionBuilder.java:570)
               at org.firebirdsql.gds.ng.FbExceptionBuilder.toFlatSQLException(FbExceptionBuilder.java:302)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createCipher(Arc4EncryptionPlugin.java:118)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createCipher(Arc4EncryptionPlugin.java:100)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createEncryptionCipher(Arc4EncryptionPlugin.java:82)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.initializeEncryption(Arc4EncryptionPlugin.java:62)
               at org.firebirdsql.gds.ng.wire.version13.V13WireOperations.tryKnownServerKeys(V13WireOperations.java:194)
               at org.firebirdsql.gds.ng.wire.version13.V13WireOperations.authReceiveResponse(V13WireOperations.java:131)
               at org.firebirdsql.gds.ng.wire.version10.V10Database.authReceiveResponse(V10Database.java:569)
               at org.firebirdsql.gds.ng.wire.WireConnection.identify(WireConnection.java:309)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.performConnect(FbWireDatabaseFactory.java:51)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.connect(FbWireDatabaseFactory.java:39)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.connect(FbWireDatabaseFactory.java:32)
               at org.firebirdsql.event.FBEventManager.connect(FBEventManager.java:94)
			   :
			   <REMOVED APPLICATION CODE FOR CONFIDENTIALITY PURPOSE>
			   :
               at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
               at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:57)
               at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
               at java.lang.reflect.Constructor.newInstance(Constructor.java:526)
               at org.junit.runners.BlockJUnit4ClassRunner.createTest(BlockJUnit4ClassRunner.java:195)
               at org.junit.runners.BlockJUnit4ClassRunner$1.runReflectiveCall(BlockJUnit4ClassRunner.java:244)
               at org.junit.internal.runners.model.ReflectiveCallable.run(ReflectiveCallable.java:12)
               at org.junit.runners.BlockJUnit4ClassRunner.methodBlock(BlockJUnit4ClassRunner.java:241)
               at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:70)
               at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:50)
               at org.junit.runners.ParentRunner$3.run(ParentRunner.java:238)
               at org.junit.runners.ParentRunner$1.schedule(ParentRunner.java:63)
               at org.junit.runners.ParentRunner.runChildren(ParentRunner.java:236)
               at org.junit.runners.ParentRunner.access$000(ParentRunner.java:53)
               at org.junit.runners.ParentRunner$2.evaluate(ParentRunner.java:229)
               at org.junit.runners.ParentRunner.run(ParentRunner.java:309)
               at org.apache.maven.surefire.junit4.JUnit4Provider.execute(JUnit4Provider.java:252)
               at org.apache.maven.surefire.junit4.JUnit4Provider.executeTestSet(JUnit4Provider.java:141)
               at org.apache.maven.surefire.junit4.JUnit4Provider.invoke(JUnit4Provider.java:112)
               at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
               at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
               at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
               at java.lang.reflect.Method.invoke(Method.java:606)
               at org.apache.maven.surefire.util.ReflectionUtils.invokeMethodWithArray(ReflectionUtils.java:189)
               at org.apache.maven.surefire.booter.ProviderFactory$ProviderProxy.invoke(ProviderFactory.java:165)
               at org.apache.maven.surefire.booter.ProviderFactory.invokeProvider(ProviderFactory.java:85)
               at org.apache.maven.surefire.booter.ForkedBooter.runSuitesInProcess(ForkedBooter.java:115)
               at org.apache.maven.surefire.booter.ForkedBooter.main(ForkedBooter.java:75)
Caused by: org.firebirdsql.jdbc.FBSQLExceptionInfo: Encryption key did not meet algorithm requirements of Symmetric/Arc4
Caused by: java.security.InvalidKeyException: Illegal key size or default parameters
               at javax.crypto.Cipher.checkCryptoPerm(Cipher.java:1016)
               at javax.crypto.Cipher.implInit(Cipher.java:791)
               at javax.crypto.Cipher.chooseProvider(Cipher.java:854)
               at javax.crypto.Cipher.init(Cipher.java:1233)
               at javax.crypto.Cipher.init(Cipher.java:1173)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createCipher(Arc4EncryptionPlugin.java:111)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createCipher(Arc4EncryptionPlugin.java:100)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createEncryptionCipher(Arc4EncryptionPlugin.java:82)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.initializeEncryption(Arc4EncryptionPlugin.java:62)
               at org.firebirdsql.gds.ng.wire.version13.V13WireOperations.tryKnownServerKeys(V13WireOperations.java:194)
               at org.firebirdsql.gds.ng.wire.version13.V13WireOperations.authReceiveResponse(V13WireOperations.java:131)
               at org.firebirdsql.gds.ng.wire.version10.V10Database.authReceiveResponse(V10Database.java:569)
               at org.firebirdsql.gds.ng.wire.WireConnection.identify(WireConnection.java:309)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.performConnect(FbWireDatabaseFactory.java:51)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.connect(FbWireDatabaseFactory.java:39)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.connect(FbWireDatabaseFactory.java:32)
               at org.firebirdsql.event.FBEventManager.connect(FBEventManager.java:94)
			   :
			   <REMOVED APPLICATION CODE FOR CONFIDENTIALITY PURPOSE>
			   :
               at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
               at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:57)
               at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
               at java.lang.reflect.Constructor.newInstance(Constructor.java:526)
               at org.junit.runners.BlockJUnit4ClassRunner.createTest(BlockJUnit4ClassRunner.java:195)
               at org.junit.runners.BlockJUnit4ClassRunner$1.runReflectiveCall(BlockJUnit4ClassRunner.java:244)
               at org.junit.internal.runners.model.ReflectiveCallable.run(ReflectiveCallable.java:12)
               at org.junit.runners.BlockJUnit4ClassRunner.methodBlock(BlockJUnit4ClassRunner.java:241)
               at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:70)
               at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:50)
               at org.junit.runners.ParentRunner$3.run(ParentRunner.java:238)
               at org.junit.runners.ParentRunner$1.schedule(ParentRunner.java:63)
               at org.junit.runners.ParentRunner.runChildren(ParentRunner.java:236)
               at org.junit.runners.ParentRunner.access$000(ParentRunner.java:53)
               at org.junit.runners.ParentRunner$2.evaluate(ParentRunner.java:229)
               at org.junit.runners.ParentRunner.run(ParentRunner.java:309)
               at org.apache.maven.surefire.junit4.JUnit4Provider.execute(JUnit4Provider.java:252)
               at org.apache.maven.surefire.junit4.JUnit4Provider.executeTestSet(JUnit4Provider.java:141)
               at org.apache.maven.surefire.junit4.JUnit4Provider.invoke(JUnit4Provider.java:112)
               at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
               at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
               at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
               at java.lang.reflect.Method.invoke(Method.java:606)
               at org.apache.maven.surefire.util.ReflectionUtils.invokeMethodWithArray(ReflectionUtils.java:189)
               at org.apache.maven.surefire.booter.ProviderFactory$ProviderProxy.invoke(ProviderFactory.java:165)
               at org.apache.maven.surefire.booter.ProviderFactory.invokeProvider(ProviderFactory.java:85)
               at org.apache.maven.surefire.booter.ForkedBooter.runSuitesInProcess(ForkedBooter.java:115)
               at org.apache.maven.surefire.booter.ForkedBooter.main(ForkedBooter.java:75)

Aug 22, 2018 11:01:54 AM org.firebirdsql.logging.JulLogger warn
WARNING: Encryption plugin failed
org.firebirdsql.gds.ng.wire.crypt.FBSQLEncryptException: Encryption key did not meet algorithm requirements of Symmetric/Arc4 [SQLState:28000, ISC error code:337248282]
               at org.firebirdsql.gds.ng.FbExceptionBuilder$Type$4.createSQLException(FbExceptionBuilder.java:570)
               at org.firebirdsql.gds.ng.FbExceptionBuilder.toFlatSQLException(FbExceptionBuilder.java:302)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createCipher(Arc4EncryptionPlugin.java:118)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createCipher(Arc4EncryptionPlugin.java:100)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createDecryptionCipher(Arc4EncryptionPlugin.java:86)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.initializeEncryption(Arc4EncryptionPlugin.java:63)
               at org.firebirdsql.gds.ng.wire.version13.V13WireOperations.tryKnownServerKeys(V13WireOperations.java:194)
               at org.firebirdsql.gds.ng.wire.version13.V13WireOperations.authReceiveResponse(V13WireOperations.java:131)
               at org.firebirdsql.gds.ng.wire.version10.V10Database.authReceiveResponse(V10Database.java:569)
               at org.firebirdsql.gds.ng.wire.WireConnection.identify(WireConnection.java:309)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.performConnect(FbWireDatabaseFactory.java:51)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.connect(FbWireDatabaseFactory.java:39)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.connect(FbWireDatabaseFactory.java:32)
               at org.firebirdsql.event.FBEventManager.connect(FBEventManager.java:94)
			   :
			   <REMOVED APPLICATION CODE FOR CONFIDENTIALITY PURPOSE>
			   :
               at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
               at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:57)
               at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
               at java.lang.reflect.Constructor.newInstance(Constructor.java:526)
               at org.junit.runners.BlockJUnit4ClassRunner.createTest(BlockJUnit4ClassRunner.java:195)
               at org.junit.runners.BlockJUnit4ClassRunner$1.runReflectiveCall(BlockJUnit4ClassRunner.java:244)
               at org.junit.internal.runners.model.ReflectiveCallable.run(ReflectiveCallable.java:12)
               at org.junit.runners.BlockJUnit4ClassRunner.methodBlock(BlockJUnit4ClassRunner.java:241)
               at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:70)
               at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:50)
               at org.junit.runners.ParentRunner$3.run(ParentRunner.java:238)
               at org.junit.runners.ParentRunner$1.schedule(ParentRunner.java:63)
               at org.junit.runners.ParentRunner.runChildren(ParentRunner.java:236)
               at org.junit.runners.ParentRunner.access$000(ParentRunner.java:53)
               at org.junit.runners.ParentRunner$2.evaluate(ParentRunner.java:229)
               at org.junit.runners.ParentRunner.run(ParentRunner.java:309)
               at org.apache.maven.surefire.junit4.JUnit4Provider.execute(JUnit4Provider.java:252)
               at org.apache.maven.surefire.junit4.JUnit4Provider.executeTestSet(JUnit4Provider.java:141)
               at org.apache.maven.surefire.junit4.JUnit4Provider.invoke(JUnit4Provider.java:112)
               at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
               at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
               at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
               at java.lang.reflect.Method.invoke(Method.java:606)
               at org.apache.maven.surefire.util.ReflectionUtils.invokeMethodWithArray(ReflectionUtils.java:189)
               at org.apache.maven.surefire.booter.ProviderFactory$ProviderProxy.invoke(ProviderFactory.java:165)
               at org.apache.maven.surefire.booter.ProviderFactory.invokeProvider(ProviderFactory.java:85)
               at org.apache.maven.surefire.booter.ForkedBooter.runSuitesInProcess(ForkedBooter.java:115)
               at org.apache.maven.surefire.booter.ForkedBooter.main(ForkedBooter.java:75)
Caused by: org.firebirdsql.jdbc.FBSQLExceptionInfo: Encryption key did not meet algorithm requirements of Symmetric/Arc4
Caused by: java.security.InvalidKeyException: Illegal key size or default parameters
               at javax.crypto.Cipher.checkCryptoPerm(Cipher.java:1016)
               at javax.crypto.Cipher.implInit(Cipher.java:791)
               at javax.crypto.Cipher.chooseProvider(Cipher.java:854)
               at javax.crypto.Cipher.init(Cipher.java:1233)
               at javax.crypto.Cipher.init(Cipher.java:1173)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createCipher(Arc4EncryptionPlugin.java:111)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createCipher(Arc4EncryptionPlugin.java:100)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.createDecryptionCipher(Arc4EncryptionPlugin.java:86)
               at org.firebirdsql.gds.ng.wire.crypt.arc4.Arc4EncryptionPlugin.initializeEncryption(Arc4EncryptionPlugin.java:63)
               at org.firebirdsql.gds.ng.wire.version13.V13WireOperations.tryKnownServerKeys(V13WireOperations.java:194)
               at org.firebirdsql.gds.ng.wire.version13.V13WireOperations.authReceiveResponse(V13WireOperations.java:131)
               at org.firebirdsql.gds.ng.wire.version10.V10Database.authReceiveResponse(V10Database.java:569)
               at org.firebirdsql.gds.ng.wire.WireConnection.identify(WireConnection.java:309)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.performConnect(FbWireDatabaseFactory.java:51)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.connect(FbWireDatabaseFactory.java:39)
               at org.firebirdsql.gds.ng.wire.FbWireDatabaseFactory.connect(FbWireDatabaseFactory.java:32)
               at org.firebirdsql.event.FBEventManager.connect(FBEventManager.java:94)
			   :
			   <REMOVED APPLICATION CODE FOR CONFIDENTIALITY PURPOSE>
			   :
               at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
               at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:57)
               at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
               at java.lang.reflect.Constructor.newInstance(Constructor.java:526)
               at org.junit.runners.BlockJUnit4ClassRunner.createTest(BlockJUnit4ClassRunner.java:195)
               at org.junit.runners.BlockJUnit4ClassRunner$1.runReflectiveCall(BlockJUnit4ClassRunner.java:244)
               at org.junit.internal.runners.model.ReflectiveCallable.run(ReflectiveCallable.java:12)
               at org.junit.runners.BlockJUnit4ClassRunner.methodBlock(BlockJUnit4ClassRunner.java:241)
               at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:70)
               at org.junit.runners.BlockJUnit4ClassRunner.runChild(BlockJUnit4ClassRunner.java:50)
               at org.junit.runners.ParentRunner$3.run(ParentRunner.java:238)
               at org.junit.runners.ParentRunner$1.schedule(ParentRunner.java:63)
               at org.junit.runners.ParentRunner.runChildren(ParentRunner.java:236)
               at org.junit.runners.ParentRunner.access$000(ParentRunner.java:53)
               at org.junit.runners.ParentRunner$2.evaluate(ParentRunner.java:229)
               at org.junit.runners.ParentRunner.run(ParentRunner.java:309)
               at org.apache.maven.surefire.junit4.JUnit4Provider.execute(JUnit4Provider.java:252)
               at org.apache.maven.surefire.junit4.JUnit4Provider.executeTestSet(JUnit4Provider.java:141)
               at org.apache.maven.surefire.junit4.JUnit4Provider.invoke(JUnit4Provider.java:112)
               at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
               at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
               at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
               at java.lang.reflect.Method.invoke(Method.java:606)
               at org.apache.maven.surefire.util.ReflectionUtils.invokeMethodWithArray(ReflectionUtils.java:189)
               at org.apache.maven.surefire.booter.ProviderFactory$ProviderProxy.invoke(ProviderFactory.java:165)
               at org.apache.maven.surefire.booter.ProviderFactory.invokeProvider(ProviderFactory.java:85)
               at org.apache.maven.surefire.booter.ForkedBooter.runSuitesInProcess(ForkedBooter.java:115)
               at org.apache.maven.surefire.booter.ForkedBooter.main(ForkedBooter.java:75)
