<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="User=SYSDBA;Password=masterkey;Database=C:\Files\IMPRONET.FDB;DataSource=localhost;Port=3050;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ParkingSpaces" value="2000" />
  </appSettings>
</configuration>